name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
      - 'handle-already-posted-article-files'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          yarn
      - run: |
          yarn all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: publish
        with:
          files_location: 'posts/**/*.md'
          publish: 'false'
          devto_api_key: ${{ secrets.DEVTO_API_KEY }}

      - name: Clean up changed files
        run: git rm `git ls-files --deleted` || exit 0;

      - name: Commit new files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: '⚙️ AUTOMATED: Add posted articles files ${{ steps.publish.outputs.updated_posted_article_file_paths }}'
          file_pattern: posts/**/*.md
